<div class="container">
    <form method="post">
        <div class="form-group" style="color:blue;">
            <label for="">id</label>
            <input class="form-control" id="id" placeholder="id" ng-model="id">
            <label for="">name</label>
            <input class="form-control" id="name" ng-model="name">
            <label for="">price</label>
            <input class="form-control" id="price" ng-model="price">
            <label for="">slTon</label>
            <input class="form-control" id="slTon" ng-model="slTon">
            <label for="">voucher</label>
            <input class="form-control" id="voucher" ng-model="voucher">
        </div>
        <center><button type="submit" class="btn btn-primary" ng-click="onsubmit()">Primary</button></center>
    </form>
</div>