.dangki{
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: antiquewhite;
    margin: auto;
}
.head{
    width: 350px;
    height: auto;
    margin: auto;
    padding: auto;
}