.doimk{
    width: 500px;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color:antiquewhite;

}
.head{
    width: 250px;
    height: auto;
    margin: auto;
    padding: auto;
}