<div class="container">
    <form action="" method="post">
        <div class="form-group">
            <label for="">id</label>
            <input type="text" class="form-control" id="id" ng-model="id">
            <label for="">tenDongVat</label>
            <input type="text" class="form-control" id="tenDongVat" ng-model="tenDongVat">
            <label for="">canNang</label>
            <input type="text" class="form-control" id="canNang" ng-model="canNang">
            <label for="">loai</label>
            <input type="text" class="form-control" id="loai" ng-model="loai">
            <label for="">gioiTinh</label>
            <input type="text" class="form-control" id="gioiTinh" ng-model="gioiTinh">
        </div>

        <button type="submit" class="btn btn-primary" ng-click="onsubmit()">add</button>
        <button type="submit" class="btn btn-primary" ng-click="updateDongVat()">update</button>
    </form>
</div>