<div class="container">
    <form method="post">
        <div class="form-group" style="color:blue;">
            <h4>Id</h4>
            <input class="form-control"  id="id" placeholder="id" ng-model="id">
            <h4>Tên sản phẩm</h4>
            <input class="form-control"  id="TenSp"ng-model="TenSp">
            <h4>Giá</h4>
            <input class="form-control"  id="Gia"ng-model="Gia">
            <h4>Số lượng tồn</h4>
            <input class="form-control"  id="Soluongton"ng-model="Soluongton">
            <h4>Giảm giá</h4>
            <input class="form-control"  id="Giamgia"ng-model="Giamgia">
        </div>
        <center><button type="submit" class="btn btn-primary" ng-click="onsubmit()" >Primary</button></center>
        
    </form>
</div>